body {
	background-color: #ECF0F1;
}

/* Subscribe css */
.simple-subscription-form {
	background: #0c3e5f;
	color: #fefefe;
	padding: 2rem;
	border-radius: 0;
}

.simple-subscription-form .button {
	margin-bottom: 0;
	border-radius: 0 0 0 0;
}
/* End of subscribe css */

/* Card css link */
a.card {
	color: inherit;
	text-decoration: inherit;
	border-style: none;
}

a.card button {
	z-index: 1;
}

a.card.disabled, a.card[disabled] {
	pointer-events: none;
	opacity: .8;
}
/* End card css link */

/* multiple file upload */
.preview-images-zone {
	width: 100%;
	border: 1px solid #ddd;
	min-height: 180px;
	/* display: flex; */
	padding: 5px 5px 0px 5px;
	position: relative;
	overflow: auto;
}

.preview-images-zone>.preview-image:first-child {
	height: 185px;
	width: 185px;
	position: relative;
	margin-right: 5px;
}

.preview-images-zone>.preview-image {
	height: 90px;
	width: 90px;
	position: relative;
	margin-right: 5px;
	float: left;
	margin-bottom: 5px;
}

.preview-images-zone>.preview-image>.image-zone {
	width: 100%;
	height: 100%;
}

.preview-images-zone>.preview-image>.image-zone>img {
	width: 100%;
	height: 100%;
}

.preview-images-zone>.preview-image>.tools-edit-image {
	position: absolute;
	z-index: 100;
	color: #fff;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	display: none;
}

.preview-images-zone>.preview-image>.image-cancel {
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bold;
	margin-right: 10px;
	cursor: pointer;
	display: none;
	z-index: 100;
}

.preview-image:hover>.image-zone {
	cursor: move;
	opacity: .5;
}

.preview-image:hover>.tools-edit-image, .preview-image:hover>.image-cancel
	{
	display: block;
}

.ui-sortable-helper {
	width: 90px !important;
	height: 90px !important;
}

.container {
	padding-top: 50px;
}
/* end multiple file upload */

/* signin css */
.form-signin {
	width: 100%;
	max-width: 380px;
	padding: 15px;
	margin: auto;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
/* end signin css */

/* stylelint-disable selector-list-comma-newline-after */
.blog-header {
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	font-size: 2.25rem;
}

.blog-header-logo:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
	font-size: 2.5rem;
}

@media ( min-width : 768px) {
	.display-4 {
		font-size: 3rem;
	}
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: .875rem;
}

.card-img-right {
	height: 100%;
	border-radius: 0 3px 3px 0;
}

.flex-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.h-250 {
	height: 250px;
}

@media ( min-width : 768px) {
	.h-md-250 {
		height: 250px;
	}
}

/*
 * Blog name and description
 */
.blog-title {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 400;
}

.blog-description {
	font-size: 1.1rem;
	color: #999;
}

@media ( min-width : 40em) {
	.blog-title {
		font-size: 3.5rem;
	}
}

/* Pagination */
.blog-pagination {
	margin-bottom: 4rem;
}

.blog-pagination>.btn {
	border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
	margin-bottom: 4rem;
}

.blog-post-title {
	margin-bottom: .25rem;
	font-size: 2.5rem;
}

.blog-post-meta {
	margin-bottom: 1.25rem;
	color: #999;
}

/*
 * Footer
 */
.blog-footer {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
	margin-bottom: 0;
}
