body {
	background-color: #ECF0F1;
}

/* Subscribe css */
.simple-subscription-form {
	background: #0c3e5f;
	color: #fefefe;
	padding: 2rem;
	border-radius: 0;
}

.simple-subscription-form .button {
	margin-bottom: 0;
	border-radius: 0 0 0 0;
}
/* End of subscribe css */

/* Card css link */
a.card {
	color: inherit;
	text-decoration: inherit;
	border-style: none;
}

a.card button {
	z-index: 1;
}

a.card.disabled, a.card[disabled] {
	pointer-events: none;
	opacity: .8;
}
/* End card css link */

/* signin css */
.form-signin {
	width: 100%;
	max-width: 380px;
	padding: 15px;
	margin: auto;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
/* end signin css */

/*
 * Footer
 */
.blog-footer {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
	margin-bottom: 0;
}