<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>

<body>
	<header th:replace="fragments/layout :: header"></header>

	<div class="container">
		<h4>Detalles del anuncio</h4>
	</div>
	<!-- /// Lista de vehiculos/anuncios -->
	<div class="container">
		<div class="container-fluid gedf-wrapper">
			<div class="row">
				<div class="col-md-9">
					<div class="card mb-4">
						<img class="card-img-top"
							th:src="@{'/uploads/' + ${vehiculo.foto}}"
							th:alt="${vehiculo.foto}">
						<div class="card-body">
							<h5 class="card-title"
								th:text="${vehiculo.marca} + ' ' +${vehiculo.modelo} + ' ' + ${vehiculo.puertas} + 'p'"></h5>
							<p class="card-text"
								th:text="${vehiculo.combustible} + ' | ' + ${vehiculo.anio} + ' | ' 
								+ ${vehiculo.kilometros} + ' km' + ' | ' + ${vehiculo.color}"></p>
							<p th:text="${user.email}"></p>
							<p th:text="${vehiculo.provincia}"></p>
							<p th:text="${vehiculo.descripcion}"></p>
						</div>
					</div>

					<!-- el primer carousel -->
					<p>carousel con las fotos de la bbdd
					<div id="carouselExampleControls" class="carousel slide"
						data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img class="d-block w-100"
									src="/uploads/0538f98a-3897-41ed-812d-28d269864757_leon.jpg"
									alt="first">
							</div>
							<div th:each="f : ${fotosA}" class="carousel-item">
								<img class="d-block w-100" th:src="@{'/uploads/' + ${f.foto}}"
									th:alt="${f.foto}">
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleControls"
							role="button" data-slide="prev"> <span
							class="carousel-control-prev-icon" aria-hidden="true"></span> <span
							class="sr-only">Previous</span>
						</a> <a class="carousel-control-next" href="#carouselExampleControls"
							role="button" data-slide="next"> <span
							class="carousel-control-next-icon" aria-hidden="true"></span> <span
							class="sr-only">Next</span>
						</a>
					</div>
					<!--  end of 1er carousel-->
				</div>
				<div class="col-md-3">
					<div>Contactar con el anunciante</div>

				</div>
			</div>
		</div>
	</div>
	<!--  Final lista de vehiculos/anuncios ///-->
	<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>