<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>

<body>
	<header th:replace="fragments/layout :: header"></header>

	<div class="container">
		<h1>BUSCAR</h1>
	</div>

	<div class="container">
		<div class="container-fluid gedf-wrapper">
			<div class="d-flex bd-highlight">
				<div class="p-2 flex-fill bd-highlight">
					<span style="font-size: 1.5em;" th:text="${total}"></span> <span
						class="text-muted">Coches de segunda mano</span>
				</div>
				<div class="dropdown ml-auto p-2 bd-highlight ">
					Esto no funciona todavia ->
					<button class="btn btn-secondary dropdown-toggle" type="button"
						id="dropdownMenuButton" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">Ordenar por
						...</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<div class="form-check">
							<label class="form-check-label" for="radio1"> <input
								type="radio" class="form-check-input" id="radio1"
								name="optradio" value="option1" checked>Los precios más
								bajos
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label" for="radio1"> <input
								type="radio" class="form-check-input" id="radio1"
								name="optradio" value="option1" checked>Los precios más
								altos
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label" for="radio1"> <input
								type="radio" class="form-check-input" id="radio1"
								name="optradio" value="option1" checked>Los de mas km
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label" for="radio1"> <input
								type="radio" class="form-check-input" id="radio1"
								name="optradio" value="option1" checked>Los de menos km
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div th:if="${limpiar != null}">
						<a href="/">Reiniciar busqueda</a>
					</div>
					<form th:action="@{/vehiculos/filtrarPalabraClave/}"
						th:object="${reqFiltro}">
						<label class="text-muted">Palabra clave</label> <i
							class="far fa-question-circle" data-toggle="popover"
							data-trigger="hover" data-placement="right"
							data-content="Buscar por las palabras clave que describan lo que estas buscando. Solamente obtendrás los vehiculos que tengan todos los elementos que hayas indicado."></i>
						<div class="input-group">
							<input th:field="*{palabra}" type="text" class="form-control"
								name="palabra">
						</div>
						<div class="mt-3">
							<label class="text-muted">Precio</label>
							<div class="input-group">
								<input th:field="*{precioMin}" type="text" class="form-control"
									name="precioMin" placeholder="Precio minimo"
									onkeypress='return event.charCode >= 48 && event.charCode <= 57'
									maxlength="6">
							</div>
							<div class="input-group my-1">
								<input th:field="*{precioMax}" type="text" class="form-control"
									name="precioMax" placeholder="Precio maximo"
									onkeypress='return event.charCode >= 48 && event.charCode <= 57'
									maxlength="6">
							</div>
						</div>
						<div class="mt-3">
							<label class="text-muted">Año</label>
							<div class="input-group">
								<input th:field="*{anioMin}" type="text" class="form-control"
									name="anioMin" placeholder="Año minimo"
									onkeypress='return event.charCode >= 48 && event.charCode <= 57'
									maxlength="4">
							</div>
							<div class="input-group my-1">
								<input th:field="*{anioMax}" type="text" class="form-control"
									name="anioMax" placeholder="Año maximo"
									onkeypress='return event.charCode >= 48 && event.charCode <= 57'
									maxlength="4">
							</div>
						</div>
						<div class="mt-3">
							<label class="text-muted">Kilómetros</label>
							<div class="input-group">
								<input th:field="*{kmMin}" type="text" class="form-control"
									name="kmMin" placeholder="Kilómetros minimo"
									onkeypress='return event.charCode >= 48 && event.charCode <= 57'
									maxlength="6">
							</div>
							<div class="input-group my-1">
								<input th:field="*{kmMax}" type="text" class="form-control"
									name="kmMax" placeholder="Kilómetros maximo"
									onkeypress='return event.charCode >= 48 && event.charCode <= 57'
									maxlength="6">
							</div>
						</div>
						<input type="submit" value="Aplicar filtros"
							class="btn btn-lg btn-success btn-block my-3" />
					</form>
				</div>


				<!-- /// Lista de vehiculos/anuncios -->
				<div class="col-md-9">
					<div class="alert alert-warning" th:if="${palabra != null}"
						th:text="${palabra}"></div>
					<div class="alert alert-warning" th:if="${palabra != null}">Modifica
						o quita alguno de los filtros seleccionados !</div>
					<div class="card p-3 mb-3" th:each="v : ${listaVehiculos}">
						<a class="card" th:href="@{'/anuncio/detalle/' + ${v.id}}">
							<div class="row mb-3">
								<div class="col-md-4">
									<img class="w-100" th:src="@{'/uploads/' + ${v.foto}}"
										th:alt="${v.foto}">
								</div>
								<div class="col-md-8">
									<div class="card-block">
										<h3 class="card-title text-danger"
											th:text="${v.precio} + ' €'"></h3>
										<h5 class="card-text text-justify"
											th:text="${v.marca} + ' ' +${v.modelo} + ' ' + ${v.puertas} + 'p'"></h5>
										<p class="card-text text-monospace text-muted"
											th:text="${v.combustible} + ' | ' + ${v.anio} + ' | ' + ${v.kilometros} + ' km' + ' | ' + ${v.color}"></p>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<!--  Final lista de vehiculos/anuncios ///-->

			</div>
		</div>
	</div>
	<footer th:replace="fragments/layout :: footer">
		<!-- Initialize Bootstrap functionality -->

	</footer>
</body>
</html>