<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body>
	<header th:replace="fragments/layout :: header"></header>
	<!-- form Bootstrap -->
	<form class="form-signin" th:action="@{/login}" method="post">
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<div th:if="${param.error}"
				class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">&times;</button>
				Invalid username or password.
			</div>
			<input type="text" name="username" class="form-control"
				placeholder="Username" required> <input type="password"
				name="password" class="form-control" placeholder="Password" required>
				<p>Don´t have accout, <a th:href="@{/register}">create account !</a></p>
			<input type="submit" value="Login"
				class="btn btn-lg btn-primary btn-block" />
	</form>
	<!-- end of Bootstrap form -->
	<div id="footerSeparator"></div>
	<footer th:replace="fragments/layout :: footer"></footer>


</body>
</html>