<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<!-- Custom styles for this template -->
<link th:href="@{/css/signin.css}" rel="stylesheet" media="screen" />
<body>
	<header th:replace="fragments/layout :: header"></header>

	<div class="form-signin">
		<div class="container">
			<span style="font-size: 2em;" th:text="${errorToken}"></span><span
				class="text-muted"></span>
		</div>
		<div th:if="${errorToken == null}">
			<form th:action="@{/reset}" method="post">
				<div class="container my-2 col-3">
					<div class="container">
						<p>Introduce una contraseña nueva:</p>
					</div>
					<div class="form-group">
						<input type="password" name="reset_password" class="form-control"
							id="password" placeholder="Password" required="required" />
					</div>
					<div class="form-group">
						<input type="password" name="register_cpassword"
							class="form-control" id="confirm_password"
							placeholder="Confirm Password" required="required" />
					</div>
					<input th:type="hidden" name="tok" th:value="${resetToken}" />
					<div class="container">
						<button type="submit" class="btn btn-success">Enviar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<footer th:replace="fragments/layout :: footer"></footer>
	<script>
		var password = document.getElementById("password"), confirm_password = document
				.getElementById("confirm_password");

		function validatePassword() {
			if (password.value != confirm_password.value) {
				confirm_password.setCustomValidity("Passwords Don't Match");
			} else {
				confirm_password.setCustomValidity('');
			}
		}
		password.onchange = validatePassword;
		confirm_password.onkeyup = validatePassword;
	</script>

</body>
</html>