<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/layout :: head"></head>
<body>
	<header th:replace="fragments/layout :: header"></header>
	<div class="container">
		<div sec:authorize="!isAuthenticated()"
			class="simple-subscription-form">
			<form>
				<h4>Subscribe</h4>
				<p>Receive updates and latest news direct from our team. Simply
					enter your email below :</p>
				<input class="input-group-field" type="email" placeholder="Email"
					required>
				<button class="button">Subscribe</button>
			</form>
		</div>
		<div sec:authorize="isAuthenticated()"
			class="simple-subscription-form">
			<form>
				<h4>Subscribe</h4>
				<p>Desea subscribirse para recibir las ultimas noticias ?</p>
				<button href="mailto:naikonpaul@gmail.com" class="button">Subscribe</button>
			</form>
		</div>
	</div>
	<div id="footerSeparator"></div>
	<footer th:replace="fragments/layout :: footer"></footer>


</body>
</html>
















